:root {
	/* Color Pallete */
	--primary-color: #699b46;
	--dark-color: #14281f;
	--light-color: #ebd92d;
	--danger-color: #96100f;
	--success-color: #7cb518;
	--orange-pantone: #ff5400ff;
	--pumpkin: #ff6d00ff;
	--orange-peel: #ff9e00ff;
	--pacific-cyan: #00b4d8ff;
	--blue-green: #0096c7ff;
	--honolulu-blue: #0077b6ff;
	--marian-blue: #023e8aff;

	/* Sizes */
	--h2-min-size: 0.8rem;
	--h2-preferred-size: 1vw + 0.5rem;
	--h2-max-size: 2rem;
	--dash-item-size: clamp(150px, 15vw, 500px);
}

/* Global Styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "myriad-pro", "Times New Roman", Times, serif;
	font-size: 1.5rem;
	line-height: 1.6;
	background-color: #fff;
	color: #333;
}

i {
	margin: 0 0.5rem;
}

ul {
	list-style: none;
}

h1 {
	font-size: 2rem;
}

a {
	text-decoration: none;
	color: var(--pacific-cyan);
}

a:visited {
	font-style: bold;
	text-shadow: 0.1rem;
	color: var(--marian-blue);
	text-decoration: underline;
}

/* Nav */

nav {
	background-color: var(--primary-color);
	color: #fff;
	padding: 1rem;
}

nav ul {
	display: flex;
}

nav a {
	color: white;
	list-style: none;
	padding-right: 1rem;
}

nav a:visited {
	color: var(--white);
}

nav i {
	color: white;
	margin-right: 0.2rem;
}

/* Utilities */

.loader {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.btn {
	display: inline-block;
	background: var(--light-color);
	color: #333;
	padding: 0.5rem 1.5rem;
	border: none;
	cursor: pointer;
	margin: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
}

.btn-warning {
	background: var(--orange-pantone);
	color: white;
}

.line {
	height: 1px;
	background: #ccc;
	margin: 1.5rem 0;
}

.subheader {
	margin-top: 2rem;
}

.header {
	position: relative;
	width: 100vw;
	height: 25rem;
}

.header .img {
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.75;
	width: 100%;
	height: 100%;
	display: block;
	background-image: url("./img/otherImages/beachysmoothies2.jpg");
	background-position: center 40%;
}

.header .trending {
	background-image: url("./img/otherImages/kidssmoothies.jpg");
	background-position: center 40%;
}

.header h1 {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: var(--blue-green);
	text-shadow: var(--marian-blue) 0.1rem 0.1rem 0.2rem;
	font-size: 4rem;
}

.labels {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	gap: 0.5rem;
}

.label {
	padding: 0 0.5rem;
	border-radius: 5px;
	color: white;
}

.low-carb {
	background-color: var(--primary-color);
}

.low-fat {
	background-color: var(--pumpkin);
}

.high-protein {
	background-color: var(--honolulu-blue);
}

.bulking {
	background-color: var(--marian-blue);
}

.lean {
	background-color: var(--blue-green);
}

/* Landing */

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.landing {
	position: relative;
	background-image: url("./img/fruit-frame.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

.landing-inner {
	color: #fff;
	height: 100%;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* Dashboard */

.dash-grid {
	margin: auto;
	padding: 2rem;
	width: 50%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	place-items: center;
	gap: 2rem;
}

.dash-item {
	width: var(--dash-item-size);
	height: var(--dash-item-size);
	border-radius: 5rem;
	background-color: var(--primary-color);
	background-image: url("./img/otherImages/acaibowl.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1rem;
	overflow: hidden;
}

.dash-item:hover {
	border: 5px solid var(--orange-peel);
}

.dash-item.search {
	background-image: url("./img/otherImages/foursmoothies.jpg");
}

.dash-item.create {
	background-image: url("./img/otherImages/beachysmoothies6.jpg");
}

.dash-item.saved {
	background-image: url("./img/otherImages/beachsmoothies3.jpg");
}

.dash-item.your-recipes {
	background-image: url("./img/otherImages/vegsmoothies.jpg");
}

.dash-item.trending {
	background-image: url("./img/otherImages/kidstoast.jpg");
}

.dash-item.account-details {
	background-image: url("./img/otherImages/tropicalsmoothiebowl.jpg");
}

.dash-item h2 {
	font-size: clamp(
		var(--h2-min-size),
		var(--h2-preferred-size),
		var(--h2-max-size)
	);
	padding: 0.5rem 1rem;
	background-color: var(--orange-peel);
	border-radius: 5rem;
	color: white;
}

/* Forms */

.form {
	margin-top: 2rem;
}

.form .form-group {
	margin: 1.2rem 0;
	width: 100%;
}

.form .form-text {
	display: block;
	margin-top: 0.5rem;
	color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form input[type="number"],
.form select,
.form textarea {
	display: block;
	padding: 0.5rem;
	font-size: 1.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select {
	width: 100%;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
	border: 2.5px solid var(--orange-peel);
	outline: none;
}

.form input[type="submit"],
button {
	font: inherit;
}

/* Recipe Search */

.search-recipes .ingredients {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	width: clamp(60%, 60vw, 60%);
	justify-content: center;
	margin: auto;
}

.search-recipes .ingredient {
	display: flex;
	align-items: center;
	border-bottom: 1px dashed #ccc;
	border-right: 1px dashed #ccc;
	width: 100%;
}

.search-recipes .ingredient i {
	margin-right: 0.5rem;
	cursor: pointer;
}

.search-recipes .ingredient.included {
	background-color: var(--primary-color);
}

.search-recipes .ingredient.excluded {
	background-color: var(--orange-peel);
}

.search-recipes .strike-through {
	text-decoration: line-through;
}

/* Recipe / Create Recipe */

.search-recipes,
.create-recipe,
.recipe,
.account {
	width: 100%;
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 0.5rem;
}

.recipe .ratings {
	display: flex;
	align-items: center;
	justify-content: center;
}

.create-recipe label {
	color: var(--marian-blue);
	font-size: 2rem;
}

.category {
	display: grid;
	align-items: center;
	justify-items: space-evenly;
	width: 100vw;
	margin: auto;
	padding: 1rem;
}

.category-prev,
.category-current,
.category-next {
	padding: 0 1rem;
}

.category-prev {
	opacity: 0.5;
}

.category-current {
	font-weight: bold;
}

.category-next {
	opacity: 0.5;
}

.portion {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 20rem;
}

.portion input[type="number"] {
	width: 4rem;
	margin: 0 0.5rem;
}

.create-recipe input[type="text"],
.create-recipe select {
	width: 20rem;
	margin: 2rem auto;
}

/* Recipe Comments */

.comments-container {
	display: grid;
	justify-items: center;
	align-content: center;
	grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
	width: 100vw;
	min-height: 100vh;
	margin: auto;
	background-color: var(--blue-green);
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

.comments-list:before {
	content: "";
	width: 2px;
	height: 100%;
	background: var(--honolulu-blue);
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: "";
	position: absolute;
	background: var(--honolulu-blue);
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid var(--honolulu-blue);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
	display: none;
}

.reply-list li:before {
	content: "";
	width: 60px;
	height: 2px;
	position: absolute;
	top: 25px;
	left: -55px;
}

.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	display: grid;
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}

.reply-form {
	padding-left: 88px;
}

.comment-main-level:after {
	content: "";
	width: 0;
	height: 0;
	display: block;
	clear: both;
}

.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px var(--dark-color);
	-moz-box-shadow: 0 1px 1px var(--dark-color);
	box-shadow: 0 1px 1px var(--dark-color);
	border-radius: 5px;
	background-color: #fcfcfc;
	padding: 0.5rem;
}

.comment-form textarea,
.reply-form textarea {
	width: 100%;
	height: 10rem;
	font-size: 1rem;
	-webkit-box-shadow: 0 1px 1px var(--dark-color);
	-moz-box-shadow: 0 1px 1px var(--dark-color);
	box-shadow: 0 1px 1px var(--dark-color);
	border-radius: 5px;
	background-color: #fcfcfc;
}

.comment-form textarea:focus,
.reply-form textarea {
	outline: none;
	border: 1px solid var(--marian-blue);
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #fcfcfc;
	top: 8px;
	left: -11px;
}

.reply-list .comment-box {
	max-width: 610px;
}
.comment-box .comment-head {
	background: #fcfcfc;
	padding: 10px 12px;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: var(--honolulu-blue);
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-form i,
.reply-form i {
	float: right;
	margin-left: 14px;
	margin-bottom: 1rem;
	color: var(--honolulu-blue);
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box i:hover,
.comment-form i:hover,
.reply-form i:hover {
	color: var(--marian-blue);
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: var(--pacific-cyan);
}

.comment-box span {
	float: left;
	color: var(--marian-blue);
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #fff;
	padding: 12px;
	color: var(--dark-color);
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
	color: #03658c;
}
.comment-box .comment-name.by-author:before {
	content: "OP";
	background: var(--honolulu-blue);
	color: #fff;
	padding: 3px 5px;
	font-weight: 700;
	margin-right: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Recipes */

.recipes {
	margin: auto;
	text-align: center;
	width: 100%;
	gap: 1rem;
}

.recipes li {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--primary-color);
	width: 70%;
	padding: 2rem 0;
}

.recipe-list ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	gap: 1rem;
}

.recipe-list li {
	width: 70%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-evenly;
	align-items: center;
	justify-content: center;
}

.recipes .date {
	border-bottom: 1px dotted var(--blue-green);
	font-style: italic;
}

.links {
	display: grid;
	gap: 0.5rem;
	grid-template-rows: 1fr 1fr;
	margin-top: 1rem;
}

.trending li {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.trending .number {
	border-radius: 50%;
	background-color: var(--primary-color);
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	color: white;
}

/* Search Recipes */

.search-recipes .form {
	width: 100%;
}

.search-recipes .form .name-search {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	flex-wrap: wrap;
}

.name-search input[type="text"] {
	width: 15rem;
	margin: 0.5rem 2rem;
	font-size: 1.5rem;
	height: 3rem;
}

.tabs {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-content: center;
	margin: auto;
	background-color: var(--pacific-cyan);
	width: 60%;
}

.tab-button {
	background-color: var(--pacific-cyan);
	color: white;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

.tab-button.active {
	background-color: var(--blue-green);
}

.tab-button:hover {
	background-color: var(--blue-green);
}

.search-recipes .optimizations {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

.optimization label {
	margin-left: 0.5rem;
}

.optimization input[type="checkbox"] {
	accent-color: var(--blue-green);
}

.optimization .label {
	margin-left: 0.5rem;
}

/* Recipe Ingredients */

.recipe-ingredients ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	width: 80vw;
	justify-content: space-evenly;
	list-style: none;
	margin: 2rem 2rem;
}

.recipe-ingredients li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.ingredient img {
	margin: 2rem;
	width: 175px;
	height: 175px;
	border-radius: 50%;
}

/* ingredient pie chart */

.create-recipe .ingredient .chart {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.create-recipe .ingredient .calories {
	position: absolute;
	display: flex;
	top: 75%;
	left: 0;
	justify-content: center;
	margin: auto;
	width: 100%;
	font-weight: 700;
	color: var(--dark-color);
	font-size: 0.9rem;
}

.create-recipe .ingredient .chart svg {
	margin: 2rem;
	position: absolute;
	width: 175%;
	height: 175px;
	top: 0;
}

.create-recipe .ingredient .fa-x {
	position: absolute;
	font-size: 1.5rem;
	top: 0;
	right: 0;
	cursor: pointer;
	color: var(--danger-color);
}

/* Nutrition */

.panel {
	margin: auto;
	padding: 2rem 0 2rem 0;
	animation: slide-in 1s ease-out forwards;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	background-color: var(--blue-green);
	opacity: 1.5;
	z-index: 100;
	overflow-y: auto;
}

.panel .fa-x {
	position: absolute;
	font-size: 2rem;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	color: var(--dark-color);
}

@keyframes slide-in {
	from {
		left: 100%;
	}
	to {
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.nutrient-grid {
	margin: 2rem auto;
	width: 80%;
	display: grid;
	justify-items: center;
	border: 1px solid var(--pacific-cyan);
	-webkit-box-shadow: 0 1px 1px var(--marian-blue);
	-moz-box-shadow: 0 1px 1px var(--marian-blue);
	box-shadow: 0 1px 1px var(--marian-blue);
	background-color: white;
	color: var(--dark-color);
	border-radius: 5px;
}

.nutrient-grid .classification {
	width: 100%;
	text-align: center;
	background-color: var(--pacific-cyan);
	color: white;
}

.nutrients {
	width: 100%;
	height: 100%;
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: center;
	align-items: center;
	gap: 0 5rem;
}

.nutrient {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Media Queries */

@media screen and (max-width: 768px) {
	.ingredients {
		width: 90%;
		grid-template-columns: repeat(2, 1fr);
	}

	.tabs {
		width: 90%;
		grid-template-columns: repeat(3, 1fr);
	}

	.recipes span {
		display: inline;
	}

	.rating {
		display: grid;
	}
	  

	.recipe-list li {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px dotted var(--blue-green);
		width: 90%;
	}

	.category-prev,
	.category-next {
		display: none;
	}
	.comments-container {
		grid-template-columns: 1fr;
		padding: 0 1rem;
	}

	.comments-list {
		padding-left: 42px;
		padding-right: 16px;
		width: 100%;
		max-width: 100%;
	}

	.comments-list .comment-box {
		width: 100%;
		max-width: 100%;
	}

	.comments-list .comment-box:before,
	.comments-list .comment-box:after {
		left: -8px;
	}

	.reply-list {
		padding-left: 30px;
	}

	.reply-form {
		padding-left: 30px;
	}

	.reply-form textarea {
		width: 100%;
	}
	.comment-form textarea {
		width: 90%;
		font-size: 1rem;
	}
}
